<button mat-raised-button color="primary" routerLink="/admin"><- powrót</button>
<ng-container *ngIf="showings$ | async as showings; else noDataFound">
  <h1 class="p-1 text-center">Lista seansów</h1>
  <div class="d-flex flex-wrap m-2">
    <div
      *ngFor="let showing of showings"
      class="pr-3"
      style="flex-basis: 300px"
    >
      <app-shows-list-item [showing]="showing"></app-shows-list-item>
    </div>
  </div>
</ng-container>
<ng-template #noDataFound>
  <div>Brak danych do wyświetlenia</div>
</ng-template>
