<button mat-raised-button color="primary" routerLink="/admin"><- powrót</button>
<div
  class="d-flex flex-column justify-content-between ml-5 mr-5"
  *ngIf="movieData$ | async as data"
>
  <h1 class="p-1 text-center">Dodaj film</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column">
    <mat-form-field>
      <input matInput placeholder="tytuł" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="link plakatu" formControlName="imageUrl" />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="kategorie" formControlName="genres" multiple>
        <mat-option *ngFor="let genre of data.genres" [value]="genre.name">{{
          genre.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="ograniczenia wiekowe"
        formControlName="ageRestriction"
      >
        <mat-option
          *ngFor="let restriction of data.ageRestrictions"
          [value]="restriction.name"
          >{{ restriction.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="krótki opis"
        formControlName="descriptionShort"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="długi opis"
        formControlName="descriptionLong"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        numbersOnly
        matInput
        type="number"
        placeholder="czas trwania w minutach"
        formControlName="duration"
      />
    </mat-form-field>
    <mat-slide-toggle color="primary" formControlName="isPremiere"
      >Premiera
    </mat-slide-toggle>

    <button
      [disabled]="!form.valid"
      mat-raised-button
      color="primary"
      class="mx-auto"
    >
      Dodaj film
    </button>
  </form>
</div>
