<div class="shows-list-item">
  <div><strong>ID Seansu:</strong> {{ showing.id }}</div>
  <div><strong>Film: </strong>{{ showing.movieTitle }}</div>
  <div><strong>Data: </strong>{{ showing.date }}</div>
  <div><strong>Od: </strong>{{ showing.timeFrom }}</div>
  <div><strong>Do: </strong>{{ showing.timeTo }}</div>
  <div><strong>Przerwa: </strong>{{ showing.break }}min</div>
  <div><strong>Sala dostępna od: </strong>{{ showing.availableHallTime }}</div>
  <div><strong>ID sali: </strong>{{ showing.hallId }}</div>
  <div><strong>Rzędów: </strong>{{ showing.rows }}</div>
  <div><strong>Miejsc w rzędzie: </strong>{{ showing.columns }}</div>
</div>
