<div class="shows-list-item">
  <div><strong>ID Seansu:</strong> {{ showing.id }}</div>
  <div><strong>Film : </strong>{{ showing.movieTitle }}</div>
  <div><strong>Data : </strong>{{ showing.date }}</div>
  <div><strong>Godzina rozpoczęcia : </strong>{{ showing.timeFrom }}</div>
  <div><strong>Godzina zakończenia : </strong>{{ showing.timeTo }}</div>
  <div><strong>Przerwa : </strong>{{ showing.break }}min</div>
  <div><strong>Dostępność sali : </strong>{{ showing.availableHallTime }}</div>
  <div><strong>ID sali: </strong>{{ showing.hallId }}</div>
  <div><strong>Rzędy: </strong>{{ showing.rows }}</div>
  <div><strong>Miejsca w rzędzie: </strong>{{ showing.columns }}</div>
</div>
