<div class="app-navbar d-flex align-items-center justify-content-between p-2">
  <div class="logo">Ale Kino</div>
  <div class="top-icons d-flex align-items-center">
    <button
      class="mr-2"
      mat-raised-button
      color="primary"
      routerLink="login"
      *ngIf="!(user$ | async)"
    >
      Zaloguj
    </button>
    <ng-container *ngIf="user$ | async as user">
      <button
        mat-fab
        color="primary"
        class="mr-2"
        *ngIf="user.role !== 'Admin'"
        routerLink="/user-tickets"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <button
        mat-fab
        color="accent"
        class="mr-2"
        routerLink="/wishlist"
        *ngIf="user.role !== 'Admin'"
      >
        Lista "chcę obejrzeć"
      </button>
      <div class="mr-2">{{ user.firstName + " " + user.lastName }}</div>
      <button
        class="mr-2"
        mat-raised-button
        color="primary"
        (click)="logout()"
        *ngIf="user"
      >
        Wyloguj
      </button>
    </ng-container>
  </div>
</div>
